%h2= t :edit_link

= form_for(:link, :url => { :action => 'update', :id => @link.id }) do |form|
  = render(:partial => 'form', :locals => { :form => form })
  = submit_tag(t :edit)

%h2= t :show_link

= render(:partial => 'show', :locals => { :link => @link })