!!!
%html
  %head
    %title Facial
    %meta{ :charset => 'UTF-8' }
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,600', :rel => 'stylesheet', :type => 'text/css' }
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Facial', { :controller => 'links', :action => 'index' },
            :class => 'brand', :rel => 'tooltip',
            :'data-html' => true,
            :'data-original-title' => '<i class="icon-tint icon-white"></i> Fragmented Annotation Collector for Irc Aggregation of Links',
            :'data-placement' => 'bottom'
          %ul.nav
            %li.active= link_to t(:links), { :controller => 'links', :action => 'index' }
    .container
      - unless flash[:notice].blank?
        .alert.alert-info
          %button.close{ :type => 'button', :'data-dismiss' => 'alert' } &times;
          %h4 Information
          = flash[:notice]
      = yield
      %footer.row-fluid.text-right
        .col-xs-12
          %code= @version
