<!DOCTYPE html>
<html>
<head>
  <title>Facial</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Facial', { :controller => 'links', :action => 'index' }, :class => 'brand' %>

      <ul class="nav">
        <li class="active"><%= link_to t(:links), { :controller => 'links', :action => 'index' } %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <% unless flash[:notice].blank? %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Information</h4>
        <%= flash[:notice] %>
      </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
