<!DOCTYPE html>
<html>
<head>
  <title>Facial</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <header>
    <h1>FACIAL</h1>
    <p>Fragmented Annotation Collector for Irc Aggregation of Links</p>
  </header>

  <% unless flash[:notice].blank? %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <p>&copy; Y'a pas de copyright en fait.</p>
  </footer>
</div>

</body>
</html>
